.home {
  width: 100%;
  padding-top: 0;
  margin-top: 0;


}

.hero {
 
  padding-top: 64px;
  min-height: 100vh;
  padding: 140px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.hero {
  padding-top: 200px;
}


.squares-section {
  padding: -20px 10px;
  background-color: #ffffff;
    margin-top: -102px; 

}

.squares-container {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: repeat(3, auto);     
  gap: 40px 30rem;
  justify-content: center; 
}

.square {
  width: 220px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.square img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}



.square-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  width: 445px;
  height: 328px;
  background-color: rgb(241, 239, 239); 
  border-radius: 12px;
  margin-bottom: 12px;
}

.square-item p {
  text-align: left;
  font-size: 14px;
  color: #000;
  margin-right: 20rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* 👈 máximo 2 linhas */
  -webkit-box-orient: vertical;


}





.projetc-title{
  color: rgb(0, 0, 0);
   font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.75rem;
  white-space: nowrap;      /* impede quebra */
  width: 100%;
  margin-right: 20rem;
}




/* TEXTO */
.hero-text h1 {
  font-size: 2.4rem; 
  font-weight: 500;
  line-height: 1.25;
  margin-left: 150px;
}

.hero-text p {
  max-width: 420px;
  font-size: 1rem;
  opacity: 0.7;
  margin-left: 150px;
  margin-bottom: 100px;



}

.hero-media img {
  margin-top: -160px;
  margin-right: 10px;
  width: 35rem;
  height: auto;
  object-fit: cover;
  opacity: 0.9;
  filter: contrast(1.05);
  
  
}

@media (max-width: 768px) {
  .hero {
    padding: 120px 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-media img {
    width: 100%;
    max-width: 420px;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}
